body {
  background-image: url("../images/film-v2.jpg");
  color: rgb(61, 61, 61);
  font-family: 'Roboto Slab', serif;
}

.white-bg {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.91); 
}

h1 {
  font-size: 5em;
  margin: 20px auto;
  font-family: 'Shadows Into Light', cursive;
}

h4 {
  margin: 20px auto;
}

h5 {
  margin-top: 27px;
}

button {
  background-color: rgb(61, 61, 61);
  color: white;
  font-size: 24px;
  border-radius: 8px;
  border-style: solid;
  padding: 5px 40px;
  margin: 15px auto;

}

button:hover {
  border-color: rgb(61, 61, 61);
  background-color: transparent;
  color: rgb(61, 61, 61);
}

label {
  margin-left: 5px;
}

.result {
  margin: 10px auto;
  font-size: 1.3em;
}
#start-screen {
  text-align: center;
}

#show-timer {
  font-size: 2.5em;
  text-align: center;
  border-bottom-style: groove;
  margin: 5px auto;

}
#time-remaining {
  text-align: center;  
  margin-top: 20px;
  border-top-style: ridge;
}

#timer-header {
  background: white;
}

.fixed-timer {
  position: fixed;
  top: 0;
  width: 71%;
  max-width: 1110px;
}

.fixed-timer + #quiz-questions {
  padding-top: 60px;
}

#results-container {
  text-align: center;
}

#results-title {
  font-size: 2.5em;
  margin: 20px auto;
  border-bottom-style: groove;
}